body {
    background-color :floralwhite;
   
}

header {
    border-style: solid;
    border-radius: 10px;
    background-color:pink;  
    border-color:indianred;
    height: 40px;
    padding: 10px;
    position: sticky;

   
}

nav ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav a {
    display: block;
    float:  left;
    text-decoration: none;
    font-family:Georgia;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 3px;
    margin: 0px;
    color: black;
    margin-top: 4px;

}

nav a:hover {
    color: azure;
}

header div img {

    display: block;
    float: left;
    height: 39px;
    width: 85px;
    margin: 0px 0px 0px 8px;
}

/* #logo_tag {
    background-color: aqua;
    position: absolute;
    margin-top: 60px;
    
} */

#search_bar input {

    position: absolute;
    display: inline;
    margin: 3px 0px 0px 140px ; 
    border-style:none;
    border-radius: 15px;
    width: 400px;
    height: 30px;

}

.nav_icon {

    display: inline;
    position: absolute;
    margin-left: 860px;
    margin-top: 5px;

}

.nav_icon i {

    padding-left: 20px;
    font-size: 30px;


}














