body {
    font-family:Georgia;
   
}

header {
    border-style: solid;
    border-radius: 10px;
    background-color:pink;  
    border-color:indianred;
    height: 40px;
    padding: 10px;

}

nav ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav a {
    display: block;
    float:  left;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 3px;
    margin: 0px;
    color: black;
    margin-top: 4px;

}

nav a:hover {
    color: azure;
}

header div img {

    display: block;
    float: left;
    height: 39px;
    width: 85px;
    margin: 0px 0px 0px 8px;
}

/* #logo_tag {
    background-color: aqua;
    position: absolute;
    margin-top: 60px;
    
} */

#search_bar input {

    position: absolute;
    display: inline;
    margin: 3px 0px 0px 140px ; 
    border-style:none;
    border-radius: 15px;
    width: 400px;
    height: 30px;

}

.nav_icon {

    display: inline;
    position: absolute;
    margin-left: 860px;
    margin-top: 5px;

}

div.nav_icon a {
    text-decoration: none;
    color: black;
}

.nav_icon i {

    padding-left: 20px;
    font-size: 30px;


}

.nav_icon i:hover {
    color: rgb(92, 77, 77);
}

.menus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 35px;


}

.menus ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: auto;
}

.menus a {
    display: block;
    float:  left;
    text-decoration: none;
    font-family:Georgia;
    font-size: 18px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    margin-top: 4px;
    margin-bottom: 5px;
    border-right-style:solid;
    border-color: indianred;

}

#last_menu {
    border-right-style: none;
}

.menus a:hover {
    color: rgb(247, 113, 113);
}


div#stock_img {
    max-width: 100%;
    height: 350px;
    margin: auto;
    animation: slider 12s infinite linear;
}

@keyframes slider {

    0%{
        background-image: url("gifts.jpg");
    }
    25%{
        background-image: url("gifts1.jpg");
    }
    50%{
        background-image: url("gifts2.jpg");
    }
    75%{
        background-image: url("gifts3.jpg");
    }
}

/* a#button {
    text-decoration: none;
    background-color: rgb(245, 88, 88);
    font-size: 22px;
    color: white;  
    padding: 8px 15px; 
    border-radius: 20px; 
}

div.but {
    position: absolute;
    top: 350px;
    left: 100px;
} */


div.searcher {
    background-color: rgb(248, 145, 162);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75px;  
    max-width: 950px; 
    margin: auto; 
    position: relative;
    bottom: 50px;
    border-radius: 10px;
    justify-content: space-around;
}

div#s1 {
    height: 50px;
    font-size: 18px;
    margin-top: 14px;
}

div#s2 input {
    height: 45px;
    width: 200px;
    margin-top: 12px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    padding-left: 5px;
}

div#s2 i {
    color: red;
    position: absolute;
    font-size: 30px;
    left: 313px;
    top: 20px;
}

div#s3 {
    background-color: white;
    height: 45px;
    width: 200px;
    margin-top: 12px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;

}

div#s3 span {
    padding-left: 5px;
}

div#arr_icon1 {
    position: absolute;
    left: 844px;
    top: 420px;
    height: 45px;
    width: 30px;
    border-radius: 5px;
}

div#arr_icon1 i {
    padding-right: 10px;
    padding-top: 5px;
    font-size: 35px;
}


div#s4 {
    background-color: white;
    height: 45px;
    width: 200px;
    margin-top: 12px;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;

}

div#s4 span {
    padding-left: 5px;
}

div#arr_icon2 {
    position: absolute;
    left: 1082px;
    top: 420px;
    height: 45px;
    width: 30px;
    border-radius: 5px;
}

div#arr_icon2 i {
    padding-right: 10px;
    padding-top: 5px;
    font-size: 35px;
}

div#s5 input {
    background-color: rgb(56, 218, 16);
    height: 45px;
    margin-top: 12px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    padding: 8px;
    color: white;
    

} 

 



