nav {
    border-style: solid;
    border-radius: 10px;
    border-color: chocolate;
    height: 30px;
    padding: 10px;
   
}


.nav {
    /* background-color: aqua;  */
    text-decoration: none;
    font-family:Georgia;
    font-size: 20px;
    padding-left: 15px;

    
}














